{% extends 'base.html' %}

{% block  title%}
<title>About</title>
{% endblock  %}

{% block main %}
<div class="container">
    <h2>Добро пожаловать на наш сайт!</h2> 
    <p> 
        Мы рады представить вам удобное и инновационное приложение для любителей готовить и экспериментировать 
        с различными рецептами. Наше приложение объединяет функции поиска рецептов, сохранения избранных рецептов 
        и обмена ими с другими пользователями.
    </p>
    <p>
        При загрузке нашей главной страницы вы сразу обратите внимание на две основные возможности: 
        регистрацию и вход в ваш аккаунт. Если вы новый пользователь, просто зарегистрируйтесь, чтобы получить доступ 
        ко всем преимуществам нашего приложения. Если вы уже зарегистрированы, просто войдите в свой аккаунт и 
        начните наслаждаться всеми функциями.
    </p>  
    <p>  
        Одной из ключевых функций нашего приложения является поле поиска рецептов. 
        Введите в него любые ингредиенты, которые у вас есть, и наше приложение мгновенно предоставит вам список 
        рецептов, которые можно приготовить с использованием этих ингредиентов. 
        Никогда прежде поиск рецептов не был таким простым и удобным!
    </p>
    <p>
        Кроме того, на главной странице вы найдете раздел с рандомными рецептами. 
        Это отличная возможность получить вдохновение и попробовать что-то новое, даже если у вас нет 
        конкретных ингредиентов в наличии. Просто выберите один из рандомных рецептов, 
        и вы сразу сможете просмотреть его и использовать для готовки.
    </p>
    <p>
        Если вы зарегистрированы и вошли в свой аккаунт, у вас есть еще больше возможностей. 
        Вы сможете сохранять понравившиеся рецепты в вашем личном кабинете, чтобы всегда иметь к ним доступ. 
        Кроме того, наше приложение позволяет вам отправлять рецепты на вашу электронную почту или даже в 
        телеграмм, чтобы делиться интересными рецептами с друзьями и близкими.
    </p>
    <p>    
        Мы разработали это приложение с учетом ваших потребностей и стремимся сделать ваш опыт готовки незабываемым. 
        Наша цель - предоставить вам простой и удобный способ находить рецепты, сохранять и делиться ими. 
        Присоединяйтесь к нашему сообществу г
        и откройте для себя мир вкусных и креативных блюд. Мы постоянно обновляем наше приложение с новыми рецептами 
        и идеями, чтобы вы всегда могли найти что-то интересное и вдохновляющее.
    </p>
    <p>    
        Кроме того, мы также предлагаем различные кулинарные советы, техники приготовления и подсказки, 
        которые помогут вам стать еще лучшим поваром. Мы стремимся сделать вашу кулинарную путешествие 
        приятным и увлекательным, независимо от вашего уровня навыков.
    </p>
    <p>
        Не упустите возможность присоединиться к нашему сообществу любителей готовить. 
        Загрузите наше приложение прямо сейчас, создайте свой аккаунт и начните исследовать мир вкусов и ароматов. 
        Вас ждут многочисленные рецепты, сохранение избранных блюд, возможность делиться с другими и многое другое. 
        Приготовьтесь к незабываемому кулинарному опыту!
    </p>
    <p>
        Добро пожаловать в наше приложение - вашему надежному партнеру в мире кулинарии! </h5>
    </p>
</div>

{% endblock %}