{% extends 'base.html' %}
{% block title %}
<title>Profile</title>
{% endblock  %}
{% block main %}
{% include 'includes/header_search.html' %}
<div class="container">
    <div class="row mb-2">
      {% for recipe in recipes %}
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <!-- <strong class="d-inline-block mb-2 text-primary">{{ recipe.title }}</strong>-->
            <h3 class="mb-0">{{ recipe.name }}</h3>
            <div class="mb-1 text-muted">Cooking time {{ recipe.cooking_time }}</div>
            <p class="card-text mb-auto">{{ recipe.cooking_steps| safe |truncatechars:60 }}</p>
            <a href="{% url 'get_recipes:recipe_detail' recipe.recipe_id %}" class="stretched-link">Recipe ditail</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            {% if recipe.image %}
              <img src="{{ recipe.image }}" width="250" height="250">
            {% else %}
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>     
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}